body{
  font-family: 'Bitter', serif !important;
}

header{
  text-align: center;
  height: 115px;
  padding: 35px 0 0;
}

.temas{
  display: none;
}

nav{
  background: #fee420;
}
.style1{
text-align: center;
}
.table-striped{
  text-align: center;
}
.icono {
  display: inline-block;
}

.footer{
  background: #fee420;
}