html{
  margin:20px;
}

.seleccion{
background-color: yellow;
color: black;
font-size: 17px;
width: 150px;
height: 35px;
}

.opcion{
background-color: white;
color: black;
font-size: 17px;
width: 150px;
height: 35px;
}
section{
    width: 500px;
    height:1100px;

footer{
    whith:100%;
    margin-top: 50px;
    background-color: yellow;

 }
.borde{
        background-color: white;
        height: 500px;
}
.borde1{
        text-align: center;
        background-color: white;
        height: 150px;
        border: 1px, black;
}
.borde2{
        height: 140px;
        text-align: center;
        background-color: white;
}
.borde3{
        height: 50px;
        text-align: center;
        background-color: white;

}
.borde4{
        height: 50px;
        text-align: center;
        background-color: white;
        display: none;
}
.borde5{
       margin-left: 60px;
}

#titulo{
        text-align: center;
        height: 50px;
        font-style: normal;
}
.borde6{
        height: 40px;
        text-align: center;
}
#espacio{
  height:30px;
}
.borde7{
        height: 40px;
        text-align: center;
}
.borde8{
        height: 40px;
        text-align: center;
}
#muestra{
        display: none;
}
.borde9{
        height: 50px;
        text-align: center;
        background-color: white;
}
.borde10{
        height: 50px;
        text-align: center;
        background-color: white
}

img1{
  margin: 10%;
}

img2{
margin:10%;
max-width: 4em;
height: auto;

}

.progress-bar{
        width: 50%;
  }
